{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1>This is home/h1>

  <p><a href="{% url 'contact' %}" class="btn btn-primary">Contact</a></p>
  <img
    src="https://pre00.deviantart.net/e904/th/pre/i/2015/278/6/1/django_by_superninjadeluxe-d9c3686.jpg"
    style="width: 640px; height: 360px"
  />
  <h5>
    picture by
    <a href="https://superninjadeluxe.deviantart.com/art/Django-564499014"
      >superninjadeluxe - DeviantArt</a
    >
  </h5>
</div>
{% endblock content %}
