{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styleabout.css' %}" />

<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styleabout.css" rel="stylesheet"  />
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
        <div class="container"  style="background-color:#c5f0e1; max-width: 140%;" >
       
          <div class="col-sm-12">
            <div class="col-sm-12">
              <nav class="site-navigation position-relative text-right" role="navigation"  style="margin-right: 30px;">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li class="active"><a href="homepage" class="nav-link">Home</a></li>
                  <li class="has-children">                  
                  <li><a href="request" class="nav-link">Request</a></li>
                  <li><a href="{{request.user.username}}" class="nav-link">Profile</a></li>
                  <li><a href="about" class="nav-link">About</a></li>
                  <li style="margin-left: 300px;"><a href="{% url 'login' %}" class="nav-link">Logout</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>
          </div>
        </div>
      </header>
      <br><br><br>

      <div class="row">
        <div class="col-md-6 img">
          <img src="../static/images/users.png"  alt="" style="max-width: 50%; max-height: 50%; margin-left: 30%; margin-top: 10%; padding: 0%;">

        </div>
        <div class="col-md-6 details">
          <blockquote>
  <article class="card-body mx-auto" style="max-width: 400px; margin-top: 50px; padding-right: 50px;">
    <!-- <img src="../static/images/bg.svg" style="max-width: 60%; max-height: 60%;"> -->

        <div class="section-heading">
            <h3 class="team">Profile</h3> <hr>
          </div>
        <form method="post">
            {% csrf_token %}
            <!-- Student Name -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <div class="form-control"><h4>{{name}}</h4></div>
            </div>
            <!-- Student Email -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <div class="form-control"><h4>{{email}}</h4></div>
            </div>
            <!-- Student Phone No. -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <div class="form-control"><h4>{{phone}}</h4></div>
            </div>
            <!-- Student Year -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                </div>
                <div class="form-control"><h4>Year&nbsp;{{year}}</h4></div>
            </div>
            <center><a class="btn btn-primary" href="profile_edit" >Edit Profile</a></center>


        </form>
    </div>
</div>
        </form>
    </div>
</body>
</html>
</html>
</div>

<br>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script>

            </div>
          </div>

        </div>
    </div>
  </body>
  </html>

</html>


{% endblock %}
