{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/styleabout.css' %}" />

<html lang="en">
<head>
    <title>MateFinder &mdash; Edit Profile </title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap"
          rel="stylesheet" />

          <link rel="stylesheet" href="../static/css/bootstrap.min.css"  rel="stylesheet" />
          <link rel="stylesheet" href="../static/css/styleabout.css" rel="stylesheet"  />
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">



    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">
            <div class="container"  style="background-color:#c5f0e1; max-width: 140%;" >
           
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <nav class="site-navigation position-relative text-right" role="navigation"  style="margin-right: 30px;">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                      <li class="active"><a href="homepage" class="nav-link">Home</a></li>
                      <li class="has-children">   
                      <li><a href="request" class="nav-link">Request</a></li>  
                      <li><a href="{{request.user.username}}" class="nav-link">profile</a></li>             
                      <li><a href="about" class="nav-link">About</a></li>
                      <li style="margin-left: 300px;"><a href="{% url 'login' %}" class="nav-link">Logout</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-black"></span></a></div>
              </div>
            </div>
          </header>
        <br><br><br>
            <div class="section-heading">
                <h3 class="team"> Edit Profile</h3> <hr>
            </div>
            <form action={% url "edited" %} method="POST">
                {% csrf_token %}
                <article class="card-body mx-auto" style="max-width: 50%;">
                    
                    <!-- <div class="form-group">
                        <label class="form-control" for="username">{{request.user.username}}</label>
                    </div> -->
                    <div class="form-group">
                        <!-- <label class="form-control" for="username">{{request.user.username}}</label> -->
                        <input type="name" class="form-control" id="name" name="name" placeholder="{{name}}">
                    </div>

                    <div class="form-group">
                        <!-- <label for="phone">phone</label> -->
                        <input type="phone" class="form-control" id="phone" name="phone" placeholder="{{phone}}">
                    </div>

                    <div class="form-group">
                        <!-- <label for="email">email</label> -->
                        <input type="email" class="form-control" id="email" name="email" placeholder="{{email}}">
                    </div>

                    <div class="form-group">
                        <!-- <label for="email">email</label> -->
                        <input type="year" class="form-control" id="year" name="year" placeholder="{{year}}">
                    </div>
                    <center><button type="submit" class="btn btn-primary">Save</button></center>

                </article>
            </form>
        <!-- </center> -->
        <br>


        <div class="row text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p class="copyright">
                        <small>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>

                </div>
            </div>

        </div>
    </div>
</body>
</html>

</html>


{% endblock %}