{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style_register.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <img class="wave" src="../static/images/wave.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    
    
    <div class="container">
		<div class="img">
			<img src="../static/images/bg.svg">
		</div>
    
    <article class="card-body mx-auto" style="max-width: 400px; margin-top: 50px; padding-right: 50px;">
        <h4 class="card-title mt-3 text-center">Register</h4>
        <p class="text-center">Get started with your free account</p>
        <form method="post">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
        <div class="form-group input-group" >
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Full name" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="" class="form-control" placeholder="Email address" type="email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;">
                <option selected="">+66</option>
            </select>
            <input name="" class="form-control" placeholder="Phone number" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control">
                <option selected=""> Select years</option>
                <option>First years</option>
                <option>Second years</option>
                <option>Third years</option>
                <option>Fourth years</option>
            </select>
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Confirmz password" type="password">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" href="{% url 'login' %}"> Create Account  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account?  </p>
        <p style="margin-right: 160px;"><a href="{% url 'login' %}">Log In</a></p>                                                              
    </form>
    </article>
    </div> <!-- card.// -->
    
    </div> 
</body>
</html>
